<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        .VolunteerPage {
            font-weight: normal;
            font-size: medium;
            margin-top: 0.4rem;
        }

        .badge {
            margin-top: 1rem;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="/become/volunteer">Become volunteer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <span class="badge text-bg-light ms-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item VolunteerPage"><a href="/">Home</a></li>
                <li class="breadcrumb-item VolunteerPage"><a href="/event">Event</a></li>

                <li class="breadcrumb-item VolunteerPage active" aria-current="page">New Event</li>
            </ol>
        </nav>
    </span>
    <form action="/event/edit/<%= information._id %>" method="POST">
        <div class="row">
            <div class="col-5 ms-5">
                <div class="mb-4">
                    <label for="event_title" class="form-label">Event title</label>
                    <input type="text" class="form-control" name="Title" id="event_title" maxlength="25" required>
                </div>
                <div class="mb-4">
                    <label for="organizer" class="form-label">Organizer</label>
                    <input type="text" class="form-control" name="Organizer" id="organizer" required>
                </div>
                <div class="mb-4">
                    <label for="datetime" class="form-label">Datetime</label>
                    <input type="text" class="form-control" id="datetime" name="Datetime"
                           placeholder="06/12/2024, 13:00" required>
                </div>
                <div class="mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="Location"
                           placeholder="Apartment, studio or floor" required>
                </div>

                <div class="mb-4">
                    <input type="checkbox" class="form-check-input" id="Highlight" name="Highlight">
                    <label class="form-check-label" for="Highlight">Highlight</label>
                </div>

            </div>
            <div class="col-5">
                <div class="mb-4">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="5" name="Description"></textarea>
                </div>
                <div class="mb-4">
                    <label for="quota" class="form-label">Quota</label>
                    <input type="number" class="form-control" id="quota" name="Quota" placeholder="10" required>
                </div>
                <div class="mb-4">
                    <label for="image" class="form-label">Image</label>
                    <input type="url" class="form-control" id="image" name="Image"
                           placeholder="http://image.com/example.png">
                </div>
                <button type="submit" class="btn btn-primary" style="float: right;" id="save">Save</button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("event_title").value = "<%= information.Title %>";
        document.getElementById("organizer").value = "<%= information.Organizer %>";
        document.getElementById("description").value = "<%= information.Description %>";
        document.getElementById("datetime").value = "<%= information.Datetime %>";
        document.getElementById("location").value = "<%= information.Location %>";
        document.getElementById("quota").value = "<%= information.Quota %>";
        document.getElementById("image").value = "<%= information.Image %>";
        document.getElementById("Highlight").checked = "<%= information.Highlight %>";

    });
</script>
</body>